medusa.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://medusa-ui.dev">
<xs:element name = "html">
<xs:complexType>
<xs:sequence>
<xs:element name = "foreach"  maxOccurs="unbounded" minOccurs="0" >
<xs:complexType>
<xs:sequence>
<xs:element name = "if">
<xs:complexType>
<xs:sequence>
<xs:element name = "elseif">
<xs:complexType>
<xs:sequence>
 </xs:sequence>
<xs:attribute type="xs:string" name="conditionItem"/>
</xs:complexType>
</xs:element>
<xs:element name = "else">
<xs:complexType>
<xs:sequence>
 </xs:sequence>
</xs:complexType>
</xs:element>
 </xs:sequence>
<xs:attribute type="xs:string" name="condition"/>
</xs:complexType>
</xs:element>
 </xs:sequence>
<xs:attribute type="xs:string" name="collection"/>
</xs:complexType>
</xs:element>
<xs:element name = "if">
<xs:complexType>
<xs:sequence>
 </xs:sequence>
<xs:attribute type="xs:string" name="condition"/>
</xs:complexType>
</xs:element>
 </xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
