medusa.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name = "medusa-ui">
<xs:complexType>
<xs:sequence>
<xs:element name = "foreach">
<xs:complexType>
<xs:sequence>
<xs:element name = "if">
<xs:complexType>
<xs:sequence>
<xs:element  name = "elseif">
<xs:complexType >
<xs:simpleContent>
<xs:extension base = "xs:byte">
<xs:attribute type="xs:string" name="conditionItem"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
</xs:element>
<xs:element type = " xs: byte" name = "else"/>
 </xs:sequence>
<xs:attribute type="xs:string" name="condition"/>
</xs:complexType>
</xs:element>
 </xs:sequence>
<xs:attribute type="xs:string" name="collection"/>
</xs:complexType>
</xs:element>
 </xs:sequence>
<xs:attribute type = "xs:string" name = "xmlns"/>
</xs:complexType>
</xs:element>
</xs:schema>
